# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

# file-version: 1.0

version: 2

updates:
  - package-ecosystem: "composer"

    directory: "/"

    schedule:
      interval: "cron"
      cronjob: "0 4 15 * *"
      timezone: "Europe/Berlin"

    cooldown:
      default-days: 7

    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

    assignees:
      - "mimmi20"

    labels:
      - "dependencies"

    versioning-strategy: "increase"

    commit-message:
      include: "scope"
      prefix: "composer (master)"

    ignore:
      - dependency-name: "psr/container"
      - dependency-name: "laminas/laminas-servicemanager"
        versions: [ ">=4.0.0" ]
      - dependency-name: "laminas/laminas-view"
        versions: [ ">=3.0.0" ]

    # Disable rebasing for all pull requests
    rebase-strategy: "disabled"

  - package-ecosystem: "github-actions"

    directory: "/"

    schedule:
      interval: "cron"
      cronjob: "0 4 15 * *"
      timezone: "Europe/Berlin"

    cooldown:
      default-days: 7

    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

    assignees:
      - "mimmi20"

    labels:
      - "dependencies"

    commit-message:
      prefix: "github-actions (master)"

    ignore:
      - dependency-name: "mimmi20/ci"
      - dependency-name: "release-drafter/release-drafter"

    # Disable rebasing for all pull requests
    rebase-strategy: "disabled"

  - package-ecosystem: "composer"

    directory: "/"

    schedule:
      interval: "weekly"
      day: "friday"
      time: "04:00"
      timezone: "Europe/Berlin"

    cooldown:
      default-days: 7

    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

    assignees:
      - "mimmi20"

    labels:
      - "dependencies"

    versioning-strategy: "increase"

    target-branch: "7.x"

    commit-message:
      include: "scope"
      prefix: "composer (7.x)"

    ignore:
      - dependency-name: "psr/container"
      - dependency-name: "laminas/laminas-servicemanager"
        versions: [ ">=4.0.0" ]
      - dependency-name: "laminas/laminas-view"
        versions: [ ">=3.0.0" ]

    # Disable rebasing for all pull requests
    rebase-strategy: "disabled"

  - package-ecosystem: "github-actions"

    directory: "/"

    schedule:
      interval: "weekly"
      day: "friday"
      time: "04:00"
      timezone: "Europe/Berlin"

    cooldown:
      default-days: 7

    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

    assignees:
      - "mimmi20"

    labels:
      - "dependencies"

    target-branch: "7.x"

    commit-message:
      prefix: "github-actions (7.x)"

    ignore:
      - dependency-name: "mimmi20/ci"
      - dependency-name: "release-drafter/release-drafter"

    # Disable rebasing for all pull requests
    rebase-strategy: "disabled"

  - package-ecosystem: "composer"

    directory: "/"

    schedule:
      interval: "weekly"
      day: "friday"
      time: "04:00"
      timezone: "Europe/Berlin"

    cooldown:
      default-days: 7

    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

    assignees:
      - "mimmi20"

    labels:
      - "dependencies"

    versioning-strategy: "increase"

    target-branch: "6.x"

    commit-message:
      include: "scope"
      prefix: "composer (6.x)"

    ignore:
      - dependency-name: "psr/container"
      - dependency-name: "laminas/laminas-servicemanager"
        versions: [ ">=4.0.0" ]
      - dependency-name: "laminas/laminas-view"
        versions: [ ">=3.0.0" ]

    # Disable rebasing for all pull requests
    rebase-strategy: "disabled"

  - package-ecosystem: "github-actions"

    directory: "/"

    schedule:
      interval: "weekly"
      day: "friday"
      time: "04:00"
      timezone: "Europe/Berlin"

    cooldown:
      default-days: 7

    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

    assignees:
      - "mimmi20"

    labels:
      - "dependencies"

    target-branch: "6.x"

    commit-message:
      prefix: "github-actions (6.x)"

    ignore:
      - dependency-name: "mimmi20/ci/.github/workflows/validate.yml"
      - dependency-name: "mimmi20/ci/.github/workflows/cleanup-cache.yml"
      - dependency-name: "mimmi20/ci/.github/workflows/install.yml"
      - dependency-name: "mimmi20/ci/.github/workflows/analytics.yml"
      - dependency-name: "mimmi20/ci/.github/workflows/test.yml"
      - dependency-name: "mimmi20/ci/.github/workflows/review-dependency.yml"
      - dependency-name: "mimmi20/ci/.github/workflows/lint-actions.yml"
      - dependency-name: "mimmi20/ci/.github/workflows/sync-labels.yml"
      - dependency-name: "release-drafter/release-drafter"

    # Disable rebasing for all pull requests
    rebase-strategy: "disabled"
